*{
    font-family: Verdana, sans-serif, bold;
    background-color: #8701cc;
    align-items: center;
    justify-items: center;
}
h1{
    font-size: 4em;
    font-family: "French Script MT", sans-serif;
}
.size{
    width: 100%;
    background-color: aqua;
}
.history{
    background-color: aqua;
}

.flex{
    display: flex;
    align-content: center;
    justify-content: center;

}