* {
    margin: 0;
    padding: 0;
    font-family: "Rage Italic", serif, bold;
    background-color: #8701cc;
    align-items: center;
    justify-items: center;
    box-sizing: border-box
}

img {
    width: 100%;
}

h1 {
    margin: 4px;
    font-size: 4em;
    font-family: "French Script MT", sans-serif;
}

.size {
    align-content: center;
    justify-content: center;
    padding: 44px;
    background-color: #7cf5f5;
    margin-left: 2%;
    margin-right: 2%;
}

.history {
    background-color: inherit;
}

h2 {
    background-color: inherit;
    text-align: center;
}

h3, h4 {
    text-align: center;
    background-color: inherit;

}

.flex-stats {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 16px;
    padding-top: 4px;
    padding-bottom: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #6ebd5d;
}

.stats {
    width: 600px;
    display: list-item;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
}

.header,h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: crimson;
    margin-left: 2%;
    margin-right: 2%;

}

.float-left {
    float: left;
    background-color: inherit;
    font-weight: bold;

}

.float-right {
    float: right;
    background-color: inherit;
    font-weight: bold;


}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: #000000;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    background-color: deeppink;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000000;
}

.text {
    color: #f2f2f2;
    background-color: black;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    background-color: hotpink;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

div#preload {
    display: none;
}

.footer {
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.footer-text {
    background-color: inherit;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 4px;
    position: inherit;
}