* {
    margin: 0;
    padding: 0;
    font-family: "Rage Italic", serif, bold;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

body{
    background-image: url('./zdjecia/Jhin.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

ul {
    background-color: indigo;
    align-content: center;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 92%;
    height: 28px;
    border: 1px solid #ffff;
    display: flex;
    padding: initial;
    z-index: 999;
}

li{
    float: none;
    text-align:center;
    display:inline;
    width: 100%;
}

a {
    background-color: inherit;
    color: white;
    padding: 20%;
    overflow: inherit;
    width: 100%;
    text-decoration: none;
}

a:hover {
    background-color: lawngreen;
    color: black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-abi {
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    width: 100%;
}

h1 {
    margin: 4px;
    font-size: 4em;
    font-family: "French Script MT", sans-serif;
}

.size {
    align-content: center;
    justify-content: center;
    padding: 44px;
    background-color: #7cf5f5;
    margin-left: 4%;
    margin-right: 4%;
}

.history {
    background-color: inherit;
}

h2 {
    background-color: inherit;
    text-align: center;
}

h2.pasive {
    background-color: inherit;
    text-align: left;
    color: gold;
}

h2.des {
    background-color: inherit;
    text-align: right;
    color: gold;
    float: right;
}

h2.desc {
    background-color: inherit;
    color: white;
    text-align: right;
}

.skils{
    background-color: #393967;
    padding-right: 12%;
    padding-left: 12%;
    margin-left: 4%;
    margin-right: 4%;
}

h3, h4 {
    text-align: center;
    background-color: inherit;
}

.flex-stats {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #6ebd5d;
}

.stats {
    width: 600px;
    display: list-item;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
}

.header, h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: crimson;
    margin-top: 16px;
    margin-left: 4%;
    margin-right: 4%;
}

.tlumaczenie {
    background-color: coral;
    margin-right: 4%;
    margin-left: 4%;
    text-align: center;
    color: white;
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

p.h1 {
    background-color: inherit;
    font-size: 1.1em;
}

.float-left {
    float: left;
    background-color: inherit;
    font-weight: bold;

}

.float-right {
    float: right;
    background-color: inherit;
    font-weight: bold;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 24px auto auto;
    background-color: #000000;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    background-color: #73234b;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000000;
    color: white;
}

.text {
    color: #f2f2f2;
    background-color: black;
    font-size: 24px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    background-color: #73234b;
    text-align: center;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.footer {
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
}

.footer-text {
    background-color: inherit;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 4px;
    position: inherit;
}